body {
        background-color: #00ffd1;
        padding: 25px 15px 25px 15px;
        margin: 0px 20px;
        text-align: center;
        border: #00afff;
}

header {
    text-align: center;
}

h1 {
    background-color: #0077ff;
    color: #007cff
    text-align: center;
}

h2 {
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}

li {
    border: solid cyan 1px;
    display: inline;
    padding: 5px;
    background-color: #00aaff;
    color: white;
    padding: 5px 10px 5px 10px;
    ;
}

p {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid white
}

article {
    background-color: #2274a5;
}

section {
    border: solid black 1px;
}

img {
    text-align: center;
    height: 300px;
    width: 400px;
}

footer {
    text-align: center;
}

#footer {
    padding-top: 10px;
}