head {
    text-align: center;
}

body {
    background-color: #00ffd1;
    padding: 25px 15px 25px 15px;
    margin: 0px 20px;
    text-align: center;
    border: #00afff;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    background-color: #0077ff;
    border-color: solid black;
    color: black;
    text-align: center;
}

li {
    border: solid cyan 1px;
    display: inline;
    padding: 5px;
    background-color: #00aaff;
    color: white;
    padding: 5px 10px 5px 10px;
}

h2 {
    color: hsl(404, 95, 44,1);
    margin-bottom: 30px;
    margin-top: 3app10px;
}

img {
    text-align: center;
    height: 300px;
    width: 400px;
}

#sjs {
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}

p {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid white
}

section {
    border: solid black 1px;
}

footer {
    text-align: center;
}
